/* =================== main =================== */
.l-center {
  @include mobile {
    padding: 0 15px;
  }
}

.section-list-grp {
  list-style-type: disc;
  padding-left: 30px;
}

.main-page {

  .main-ttl {
    font-size: rem(24);
    font-weight: 600;
    margin-bottom: 50px;
  }
}